@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;600&display=swap');

body {
    margin: 0px;
    pad: 0px;
    background-color: rgb(241, 241, 241);

}

.sphere-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.title-container{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container h1{
    color: rgb(14, 14, 14);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8em;
    font-weight: 400;
}

.sphere {
    width: 250px;
    height: 250px;
    background-color: rgb(241, 241, 241);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 28px -7px rgba(0,0,0,0.25);
}


.sphere p {
    color: rgb(14, 14, 14);
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
    font-weight: 400;
}

.icon-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.icon{
    height: 25px;
    width: 25px;
}

.icon-container button{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: none;
}

.icon-container button:hover{
    box-shadow: 5px 5px 30px -8px rgba(0,0,0,0.35);
}



.icon-container .disabled-icon{
    filter: contrast(60%);
    color: rgb(243, 240, 240);
}

.icon-container .disabled-icon:hover{
    box-shadow: none;
    cursor: not-allowed;
}


.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.text-btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.text-btn-container small{
    font-family: 'Roboto Mono', monospace;
    font-size: .8em;
    text-align: left;
}

.hide-text-btn{
    display: none;
}

.btn-times{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button-container button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid rgb(14, 14, 14);
    background-color: transparent;
    font-family: 'Roboto Mono', monospace;
    color: rgb(14, 14, 14);
    font-size: 1em;
    cursor: pointer;
    transition: all .3s ease-out;
}

.button-container button:hover{
    box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.45);

}




.button-container .disabled{
    background-color: rgba(53, 53, 53, 0.316);
    color: rgb(113, 112, 112);
}

.button-container .disabled:hover{
    box-shadow: none;
    cursor: not-allowed;
}

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
}

.footer .text-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .text-footer p{
    font-family: 'Nunito', sans-serif;
    color: rgb(75, 75, 75) ;
    font-size: 1.1em;
}

.icon-container a{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon-container a img{
    width: 45px;
    height: 45px;
}